body {
    background-image: url("../../images/fire_background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: "Source Code Pro";
}

p {
    text-align: center;
    color: #C70039;
    font-family: "Source Code Pro";
    font-weight: bold;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a:link {
    color: #358dbe;
    background-color: white;
    font-family: "Source Code Pro";
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}
