body {
    background-color: black;
    background-image: url("../../images/traitor_background.jpeg"); 
    background-size: cover;
}


.color-button {
    background-color: #1897bc;
    border-color: red;
    border-radius: 8px;
    height: 28px;
    width: 100px;
    font-size: 16px;
    font-family: Source Code Pro;
    transition: 0.8s;
}

.color-button:hover {
    background-color: #65b27b;
    transition: 0.8s;
    border-color: #ea7609
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.even-line {
    display: flex;
    justify-content: space-evenly;
    color: #28dd34;
    font-family: BigBlueTerm437 Nerd Font;
}
   
h1 {
    text-align: center;
    color: #a6f8cc;
    font-size: 50px;
    font-family: BigBlueTerm437 Nerd Font;
}

p {
    text-align: center;
    color: #007C00;
    font-family: "Source Code Pro";
    font-weight: bold;
}

p span {
    background-color: #FFA800;
    padding: 1px 5px;
    border-radius: 5px;
}

a:link {
    color: #88d56c;
    text-decoration: none;
    font-weight: bold;
    font-family: "Source Code Pro";
    border-radius: 3px;
    background-color: black;
    transition: 0.8s;
}

a:hover {
    background-color: #707070;
    transition: 0.8s;
}
