body {
    margin: 0;
    padding: 0;
    background-image: url("../../images/dark_background.png");
    height: 100vh;
}

h1 {
    text-align: center;
    color: #b5afaf;
    font-family: BigBlueTerm437 Nerd Font;
    font-size: 40px;
}

p {
    text-align: center;
    color: #007C00;
    font-family: "Source Code Pro";
    font-weight: bold;
}

p span {
    background-color: #FFA800;
    padding: 1px 5px;
    border-radius: 5px;
}

.color-button {
    background-color: #1897bc;
    border-color: red;
    border-radius: 8px;
    height: 28px;
    width: 100px;
    font-size: 16px;
    font-family: BigBlueTerm437 Nerd Font;
    transition: 0.8s;
}

.color-button:hover {
    background-color: #65b27b;
    transition: 0.8s;
    border-color: #ea7609
}

.even-line {
    display: flex;
    justify-content: space-evenly;
    color: red;
    font-family: BigBlueTerm437 Nerd Font;
}


a:link {
    color: cyan;
    background-color: #706c61;
    font-family: "Source Code Pro";
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.8s;
}

a:hover {
    transition: 0.8s;
    background-color: #36454F;
}
